---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #F0F0F0 !default;
$header-bg-color: #42032C !default;
$header-bg-color-secondary: #D36B00 !default;

// Text
$section-headings-color: #D35400 !default;
$body-text-color: #535b5e !default;
$body-link-color: #0645AD !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

body {
    color: #F0F0F0;
}

@import "{{ site.theme }}";
